* {
  box-sizing: border-box;
}
img {
  width: 120px;
  height: 120px;
}
.main_products {
  margin-top: 12px;
  margin-left: 25px;
}
.col {
  border: solid #d4d4d2 1px;
  margin: 0;
  max-width: 196px;
  height: 190px;
  padding: 0;
  color: #464646;
  letter-spacing: -0.3px;
}
figure {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
figcaption {
  display: flex;
  flex-flow: column wrap;
  min-height: 50px;
  padding: 10px;
  font-size: 14px;
  font-weight: 800;
  align-self: flex-start;
  margin-top: 16px;
  margin-left: -3px;
}

@media screen and (max-width: 1024px) {
  .main_products {
    margin: 0;
  }
  .col {
    border: none;
    margin: 0;
    max-width: 169px;
    height: 190px;
    padding: 0;
  }
  br {
    display: none;
  }
  figcaption {
    font-size: 13px;
    padding: 0;
    min-height: 100px;
    font-stretch: extra-condensed;
    letter-spacing: -0.5px;
  }
}
button {
  display: none;
}
img:hover + button, button:hover {
  display: inline;
  position: absolute;
  top: 75px;
  width: 115px;
  height: 40px;
  border-radius: 1px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  letter-spacing: -0.5px;
  font-weight: 800;
  background-color: #ffffff;
  color: #82001c;
  border: solid #82001c 2px;
}